::after{
    content: '';
    display: block;
    overflow: hidden;
    visibility: hidden;
    clear: both;
}
#wrap{
    margin: 0 auto;
    clear: both;
}
.decent1{
    background: #fff;
    height: 940px;
}
#xheader{
    height: 60px;
    background-color: #ffffff;
}
.app1{
    background-color: #62d5c8;
}
.app2{
    background: #62d5c8 url(../images/boss_app/app-bg.png) center bottom no-repeat;
}
#xfooter{
    height: 213px;
    background-color: #fff;
}
#header,#footer,.app,.chat,.direcruit,.decent,.media{
    width: 1263px;
    margin: 0 auto;
}
#xheader,#wrap,#xfooter{
    clear: both;
}


.xw_nav_left li {
    float: left;
    overflow: hidden;
    height: 60px;
}
/*****************************************************************/
.app{
    height: 803px;
    position: relative;
}
.direcruit{
    height: 855px;
    padding-top: 70px;
}
.app .img{
    background: url(../images/boss_app/figure-phone-app.png) center bottom no-repeat;
    padding-top: 70px;
    padding-left: 70px;
    width: 520px;
    height: 660px;
    float: left;
    position: relative;
}

.direcruit .img{background: url(../images/boss_app/figure-phone-2.png) center bottom no-repeat;}
.app .img .app-tip{
    position: absolute;
    width: 338px;
    height: 100px;
    top: 256px;
    left: 127px;
    background: url(../images/boss_app/app-tip.png) no-repeat;
}
.direcruit .img .app-tip{
    background: url(../images/boss_app/chat-tip.png) no-repeat;
    z-index: 99;
}
.direcruit .img .inner-p{
    margin: 178px 0 0 100px;
    width: 255px;
    height: 335px;
    overflow: hidden;
    position: relative;
}
.direcruit .img .chat-inner{
    background: url(../images/boss_app/chat-list.png) no-repeat;
    position: absolute;
    width: 255px;
    height: 559px;
    left: 0;
    top: 0;
}
.app .text{
    background: url(../images/boss_app/app-title.png) no-repeat;
    margin-top: 210px;
    margin-left: -35px;
    height: 372px;
    width: 488px;
    float: left;
    position: relative;
}
.direcruit .text{
    background: url(../images/boss_app/text-title.png) no-repeat;
    background-position: center -216px;
    float: left;
    width: 488px;
    height: 210px;
    margin-top: 336px;
}
.app .text a{
    width: 213px;
    height: 50px;
    display: block;
}
.app .text .btn-ihpone{
    background: url(../images/boss_app/app-download-btns.png) no-repeat;
    position: absolute;
    top:240px;
    left: 5px;
}
.app .text .btn-android{
    background: url(../images/boss_app/app-download-btns.png) 0 -74px no-repeat;
    position: absolute;
    top:311px;
    left: 5px;
}
.app .text .qrcode img{
    width: 124px;
    height: 124px;
    position: absolute;
    top:240px;
    left:240px;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 5px;
}
/****************************app direcruit***************************/
.chat{
    background: #f5f7f9;
    padding: 220px 0 100px;
    height: 941px;
}
.chat .text{
    display: none;
    background: url(../images/boss_app/text-title.png) no-repeat;
    height: 114px;
    margin-left: 15%;
}
.chat .fadein{
    text-align: center;
    height: 210px;
    position: relative;
    padding: 0 180px
}

.chat .fadein img{
    float: left;
    position: absolute;
    z-index: 999;
}
/* .chat .fadein .fade-img1{
    top: 100px;
    left: 12%;
}
.chat .fadein .fade-img2{
    top: 135px;
    left: 36%;
}
.chat .fadein .fade-img3{
    top: 135px;
    left: 58%;
}
.chat .fadein .fade-img4{
    top: 120px;
    right: 12%;
} */

.chat .footer{
    padding-bottom: 70px;
    position: relative;
    height: 227px;
}
.chat .footer img{
    display: block;
    position: absolute;
}
.chat .footer img:nth-child(1){
    z-index: 1;
    /* left: 17%; */
}
.chat .footer img:nth-child(2){
    /* top: 115px;
    left: 46%;*/
    height: 0;
    z-index: 99999;
}
.chat .footer img:nth-child(3){
    /* bottom: 0;
    left: 23%;*/
    height: 0;
    z-index: 1;
}
/****************************chat***************************/
.company{
    background: #2e2f34 url(..//images/boss_app/bg-company.jpg) center no-repeat;
    background-size: cover;
    height: 735px;
    padding-top: 180px;
}
.company .main{
    width: 1170px;
    height: 786px;
    margin: 0 auto;
}
.company .text{
    height: 160px;
    background: url(../images/boss_app/text-title.png) center -507px no-repeat;
}
.company .img0{
    margin: 0 auto;
    width: 866px;
    height: 368px;
    margin-top: 66px;
    background: url(../images/boss_app/figure-computer.png) center bottom no-repeat;
    position: relative;
}
.company .img0 img{
    position: absolute;
}
/****************************company***************************/
.decent{
    background: #fff;
    height: 780px;
    padding-top: 160px;
    padding-left: 47px;
}
.decent .text{
    float: left;
    display: inline-block;
    width: 634px;
    height: 240px;
    margin-top: 200px;
    background: url(../images/boss_app/text-title.png) center -705px no-repeat;
}
.decent .img{
    float: right;
    margin-right: 160px;
    width: 340px;
    height: 666px;
    background: url(../images/boss_app/figure-phone-3.png) no-repeat;
    position: relative;
}
.decent .img .show_cards{
    position: absolute;
    width: 255px;
    height: 394px;
    top: 150px;
    left: 60px;
}
.decent .img .show_cards li{
    display: block;
    width: 0;
    height: 90px;
    margin: 8px 0 0 12px;
    background:url(../images/boss_app/cards-list.png) no-repeat;
}
.decent .img .show_cards li:nth-child(1){
    animation: cardShow1 2.1s ease .2s;
}
.decent .img .show_cards li:nth-child(2){
    animation: cardShow2 1.8s ease .2s;
    background-position: 0 -100px;
}
.decent .img .show_cards li:nth-child(3){
    animation: cardShow3 1.5s ease .2s;
    background-position: 0 -200px;
}
.decent .img .show_cards li:nth-child(4){
    animation: cardShow4 1.2s ease .2s;
    background-position: 0 -316px;
    margin-top: -10px;
    transform: perspective(500px) rotateX(-5deg) scale(1.14) translateY(-30px);
}
.decent .img .show_cards li:nth-child(5){
    animation: cardShow5 .9s ease .2s;
    background-position: 0 -433px;
    margin-top: -80px;
    transform: perspective(500px) rotateX(-10deg) scale(1.23) translateY(-15px);
}
.decent .img .show_cards li:nth-child(6){
    animation: cardShow6 .6s ease .2s;
    background-position: 0 -541px;
    margin-top: -81px;
    transform: perspective(500px) rotateX(-10deg) scale(1.32) translateY(0);
    box-shadow: 0 -2px 15px rgba(0,0,0,.1);
}
/****************************decent***************************/
.media{
    background: #f5f7f9;
    padding-top: 150px;
}
.media .text{
    display: none;
    padding-bottom:100px;
    background: url(../images/boss_app/text-title.png) center -1155px no-repeat;
}
.media .img{
    padding-left: 60px;
}
.media .img a{
    display: inline-block;
    width: 159px;
    height: 55px;
    transition: none;
    margin-right: 34px;
    background:url(../images/boss_app/media-logos.png) no-repeat;
}
.chat .text,.chat .fadein,.chat .footer,.direcruit .img,.direcruit .text,.company .img0,.company .text,.company .img1,.decent .text,.decent .img,.show_cards,.show_cards li,.media .text,.media .img,.media .text2,.banner .lunbo{
    display: none;
}
.media .img a:nth-child(1){
    background-position: 0 0;
}
.media .img a:nth-child(2){
    background-position: 0 -80px;
}
.media .img a:nth-child(3){
    background-position: 0 -170px;
}
.media .img a:nth-child(4){
    background-position: 0 -247px;
}
.media .img a:nth-child(5){
    background-position: 0 -328px;
}
.media .img a:nth-child(6){
    background-position: 0 -404px;
}
.media .img a:nth-child(7){
    background-position: 0 -484px;
}
.media .img a:nth-child(8){
    background-position: 0 -563px;
}
.media .img a:nth-child(9){
    background-position: 0 -644px;
}
.media .img a:nth-child(10){
    background-position: 0 -723px;
}
.media .img a:nth-child(11){
    background-position: 0 -799px;
}
.media .img a:nth-child(12){
    background-position: 0 -882px;
}
.media .img a:hover:nth-child(1){
    background-position: -181px 0;
}
.media .img a:hover:nth-child(2){
    background-position: -181px -80px;
}
.media .img a:hover:nth-child(3){
    background-position: -181px -170px;
}
.media .img a:hover:nth-child(4){
    background-position: -181px -247px;
}
.media .img a:hover:nth-child(5){
    background-position: -181px -328px;
}
.media .img a:hover:nth-child(6){
    background-position: -181px -404px;
}
.media .img a:hover:nth-child(7){
    background-position: -181px -484px;
}
.media .img a:hover:nth-child(8){
    background-position: -181px -563px;
}
.media .img a:hover:nth-child(9){
    background-position: -181px -644px;
}
.media .img a:hover:nth-child(10){
    background-position: -181px -723px;
}
.media .img a:hover:nth-child(11){
    background-position: -181px -799px;
}
.media .img a:hover:nth-child(12){
    background-position: -181px -882px;
}
.media .text2{
    height: 60px;
    margin-top: 160px;
    background: url(../images/boss_app/text-title.png) center -1005px no-repeat;
}

/****************************media***************************/

* {
    margin: 0;
    padding: 0
}

ul li {
    list-style: none
}

img {
    margin: 0
}


.banner {
    position: relative;
    width: 970px;
    height: 88px;
    margin: 135px 100px 226px;
    padding: 0 50px;
}

.banner .b_main {
    position: relative;
    max-width: 8250px;
    margin: 0px auto;
}

.banner .b_main .lunbo {
    display: none;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 88px;
    margin-left: -32px;
    padding-right: 32px;
}
.banner .b_main .lunbo ul{
    width: 1615%;
    position: absolute;
    margin-left: 45px;
    margin-top: 4px;
    left: 0;
    cursor: pointer;
}
.b_main .lunbo li {
    float: left;
    list-style: outside none none;
    position: relative;
    width: 130px;
    margin-right: 10px;
}
/*这里给绝对定位，是为了把li叠在一起*/


/*两边耳朵的样式*/
.b_btn div {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 70px;
    color: #dadada;
    text-align: center;
    line-height: 45px;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
}
.b_btn div:hover{
    color: #59cac2;
}
.b_btn .b_left {
    left: -65px;
    border-radius: 50%
}

/*移到左边*/

.b_btn .b_right {
    right: -65px;
    border-radius: 50%
}

#finish{
    height: 136px;
    background: #fff;
}

.xw_footer {
    height: 212px;
    background: #fff;
    border-bottom: none;
}
.xw_msg-left{
    float: left;
}
.xw_siteinfo {
    width: 1263px;
    height: 212px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 28px 0 18px 0;
    position: relative;
}
/*********************************footer*************************************/
