::after{
    content: '';
    display: block;
    overflow: hidden;
    visibility: hidden;
    clear: both;
}
#wrap{
    margin: 0 auto;
}
#header{
    height: 60px;
    width: 1263px;
    background-color: #ffffff;
}
#main{
    height: 5647px;
    width: 1263px;
    background-color: #62d5c8;
}
#footer{
    height: 213px;
    width: 1263px;
    background-color: #f5f7f9;
}


.app{
    background: #62d5c8 url(../images/boss_app/app-bg.png) center bottom no-repeat;
    height: 803px;
    position: relative;
    padding: 0 82px;
}
.app .img{
    background: url(../images/boss_app/figure-phone-app.png) center bottom no-repeat;
    padding-top: 70px;
    padding-left: 70px;
    width: 520px;
    height: 660px;
    float: left;
    position: relative;
}
.app .img .app-tip{
    position: absolute;
    width: 338px;
    height: 100px;
    top: 256px;
    left: 127px;
    background: url(../images/boss_app/app-tip.png) no-repeat;
}

.app .text{
    background: url(../images/boss_app/app-title.png) no-repeat;
    margin-top: 210px;
    margin-left: -35px;
    height: 372px;
    width: 488px;
    float: left;
    position: relative;
}
.app .text a{
    width: 213px;
    height: 50px;
    display: block;
}
.app .text .btn-ihpone{
    background: url(../images/boss_app/app-download-btns.png) no-repeat;
    position: absolute;
    top:240px;
    left: 5px;
}
.app .text .btn-android{
    background: url(../images/boss_app/app-download-btns.png) 0 -74px no-repeat;
    position: absolute;
    top:311px;
    left: 5px;
}
.app .text .qrcode img{
    width: 124px;
    height: 124px;
    position: absolute;
    top:240px;
    left:240px;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 5px;
}




.chat{
    background: #f5f7f9;
    padding: 220px 200px 200px 230px;
}
.chat .text{
    background: url(../images/boss_app/text-title.png) no-repeat;
    height: 114px;
}
.chat .fadein{
    width: 980px;
    margin-top: 92px;
    /* margin-left: -100px; */
}
.chat .fadein img{
    margin-right: 190px;
    display: block;
    float: left;
}
.chat .fadein .fade-img1{
    left: ;
    top: ;
}
.chat .fadein .fade-img2{
    left: ;
    top: ;
}
.chat .fadein .fade-img3{
    left: ;
    top: ;
}
.chat .fadein .fade-img4{
    left: ;
    top: ;
    margin-right: 0px;
}






.direcruit{
    background: #59cac2;
    height: 925px;
}
.company{
    background: #2e2f34 url(..//images/boss_app/bg-company.jpg) center no-repeat;
    background-size: cover;
    height: 925px;
}
.decent{
    background: #fff;
    height: 925px;
}
.media{
    background: ;
    height: ;
}