::after{
    content: '';
    display: block;
    overflow: hidden;
    visibility: hidden;
    clear: both;
}
#wrap{
    margin: 0 auto;
}
#header{
    height: 60px;
    width: 1263px;
    background-color: #ffffff;
}
#main{
    height: 5647px;
    width: 1263px;
    background-color: #62d5c8;
}
#footer{
    height: 213px;
    width: 1263px;
    background-color: #f5f7f9;
}


.app{
    background: #62d5c8 url(../images/boss_app/app-bg.png) center bottom no-repeat;
    height: 803px;
    position: relative;
    padding: 0 82px;
}
.direcruit{
    height: 855px;
    padding-top: 70px;
    background: #59cac2;
}
.app .img{
    background: url(../images/boss_app/figure-phone-app.png) center bottom no-repeat;
    padding-top: 70px;
    padding-left: 70px;
    width: 520px;
    height: 660px;
    float: left;
    position: relative;
}
.direcruit .img{background: url(../images/boss_app/figure-phone-2.png) center bottom no-repeat;}

.app .img .app-tip{
    position: absolute;
    width: 338px;
    height: 100px;
    top: 256px;
    left: 127px;
    background: url(../images/boss_app/app-tip.png) no-repeat;
}
.direcruit .img .app-tip{
    background: url(../images/boss_app/chat-tip.png) no-repeat;
    z-index: 99;
}
.direcruit .img .inner-p{
    margin: 178px 0 0 100px;
    width: 255px;
    height: 335px;
    overflow: hidden;
    position: relative;
}
.direcruit .img .chat-inner{
    background: url(../images/boss_app/chat-list.png) no-repeat;
    position: absolute;
    width: 255px;
    height: 559px;
    left: 0;
    top: 0;
}
.app .text{
    background: url(../images/boss_app/app-title.png) no-repeat;
    margin-top: 210px;
    margin-left: -35px;
    height: 372px;
    width: 488px;
    float: left;
    position: relative;
}
.direcruit .text{
    background: url(../images/boss_app/text-title.png) no-repeat;
    background-position: center -216px;
    float: left;
    width: 488px;
    height: 210px;
    margin-top: 336px;
}
.app .text a{
    width: 213px;
    height: 50px;
    display: block;
}
.app .text .btn-ihpone{
    background: url(../images/boss_app/app-download-btns.png) no-repeat;
    position: absolute;
    top:240px;
    left: 5px;
}
.app .text .btn-android{
    background: url(../images/boss_app/app-download-btns.png) 0 -74px no-repeat;
    position: absolute;
    top:311px;
    left: 5px;
}
.app .text .qrcode img{
    width: 124px;
    height: 124px;
    position: absolute;
    top:240px;
    left:240px;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 5px;
}




.chat{
    background: #f5f7f9;
    padding: 220px 200px 100px 230px;
}
.chat .text{
    background: url(../images/boss_app/text-title.png) no-repeat;
    height: 114px;
}
.chat .fadein{
    text-align: center;
    width: 960px;
    height: 210px;
    position: relative;
}

.chat .fadein img{
    float: left;
    position: absolute;
}
.chat .fadein .fade-img1{
    top: 100px;
    left: -60px;
}
.chat .fadein .fade-img2{
    top: 135px;
    left: 240px;
}
.chat .fadein .fade-img3{
    top: 135px;
    left: 515px;
}
.chat .fadein .fade-img4{
    top: 120px;
    left: 775px;
}

.chat .footer{
    padding-bottom: 70px;
    position: relative;
    height: 227px;
}
.chat .footer img{
    display: block;
    position: absolute;
}
.chat .footer:nth-child(1){
    z-index: 1;
    height: 336px;
}
.chat .footer img:nth-child(2){
    top: 115px;
    left: 43%;
    height: 115px;
    z-index: 99999;
}
.chat .footer img:nth-child(3){
    bottom: 0;
    left: 77px;
    height: 152px;
    z-index: 1;
}






.company{
    background: #2e2f34 url(..//images/boss_app/bg-company.jpg) center no-repeat;
    background-size: cover;
    height: 735px;
    padding-top: 180px;
}
.company .main{
    width: 1170px;
    height: 786px;
    margin: 0 auto;
}
.company .text{
    height: 160px;
    background: url(../images/boss_app/text-title.png) center -507px no-repeat;
}
.company .img{
    margin: 0 auto;
    width: 866px;
    height: 368px;
    margin-top: 66px;
    background: url(../images/boss_app/figure-computer.png) center bottom no-repeat;
    position: relative;
}
.company .img img{
    position: absolute;
}
.company .img img:nth-child(1){
    top: 150px;
    right: 170px;
}
.company .img img:nth-child(2){
    top: 177px;
    left: 0;
}
.company .img img:nth-child(3){
    top: 58px;
    left: 85px;
}
.company .img img:nth-child(4){
    top: 58px;
    right: 50px;
}
.company .img img:nth-child(5){
    top: 256px;
    left: 170px;
}
.company .img img:nth-child(6){
    top: 238px;
    right: 22px;
}





.decent{
    background: #fff;
    height: 925px;
    padding-top: 160px;
    padding-left: 50px;
}
.decent .text{
    margin-top: 200px;
    width:634px;
    height: 240px;
    display: inline-block;
    background: url(../images/boss_app/text-title.png) center -705px no-repeat;
}
.decent .img{
    width: 340px;
    display: inline-block;
    height: 666px;
    background: url(../images/boss_app/figure-phone-3.png) no-repeat;
    margin-right: 150px;
    float: right;
}





/* .media{
    background: ;
    height: ;
} */