@charset "utf-8";

/* css common */
html {
	overflow: auto;
	background: #f6f6f8;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

div,
p {
	word-break: break-all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
	font-weight: normal;
}

a {
	color: #555;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

img {
	border: none;
}

ol,
ul,
li {
	list-style: none;
}

input,
textarea,
select,
button {
	font: 14px Microsoft YaHei, Arial, Helvetica;
}

textarea:focus {
	outline: none;
}

input {
	border: none;
	outline: none;
}

::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #999;
}

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #999;
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #999;
}

:-moz-placeholder,
::-moz-placeholder {
	opacity: 1;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #999;
}

button {
	outline: none;
	border: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	*zoom: 1;
}

#footer {
	margin-top: 30px;
}

/* -----------------------------以下是公共组件css代码------------------------------------------------ */
/* -------------------------以下是头部-------------------------- */
.nav-city {
	float: left;
	position: relative;
	cursor: pointer;
	height: 49px;
	line-height: 49px;
	color: #00d7c6;
}

.nav-city .icon-poi {
	display: inline-block;
	vertical-align: top;
	width: 15px;
	height: 23px;
	background: url(https://static.zhipin.com/zhipin/v175/web/geek/images/icon-poi.png) 0 -165px;
	margin: 17px 3px 0 12px;
}

.nav-city .switchover-city {
	font-size: 12px;
	color: #fff;
	margin-left: 10px;
}

.xw_wrap {
	height: 49px;
	background: #202329;
	border-top: 1px solid #b6b4b6;
}

.xw_header {
	width: 1000px;
	height: 49px;
	margin: 0 auto;
}

.xw_her_left {
	float: left;
}

.xw_logo {
	color: #5dd5c8;
	float: left;
	width: 110px;
	height: 36px;
	margin-top: 6px;
	/* margin-right: 5px; */
	background: url(https://static.zhipin.com/zhipin/v171/web/geek/images/logo-2x.png) 3px 7px no-repeat;
	background-size: 105px 19px;
}

.xw_nav_left {
	float: left;
	line-height: 49px;

}

.xw_nav_left li {
	float: left;
}

.xw_nav_left li a {
	margin-left: 23px;
	display: inline-block;
	height: 49px;
	transition: color 0.3s linear;
	font-size: 14px;
}

.tra {
	color: #fff;
	/* transition: all 0.3s linear;  */
}

.tra:hover {
	color: #5dd5c8;
}

.xw_her_left li .xw_js-left {
	color: #5dd5c8;
}

/* ----------------左右分割----------------- */
.xw_her_right {
	float: right;
}

.xw_enter,
.xw_sign {
	float: right;
	display: inline-block;
	width: 50px;
	height: 25px;
	/* background: yellow; */
	box-sizing: border-box;
	border: 1px solid #5dd5c8;
	border-radius: 12px;
	text-align: center;
	margin-top: 12px;
	margin-left: 17px;
	color: #fff;
	font-size: 13px;
	line-height: 23px;
}

.xw_nav_right {
	float: right;
}

.xw_nav_right li {
	float: right;
	margin: 0 10px 0 10px;
	line-height: 49px;
	position: relative;
}

.xw_nav_right li a {
	color: #fff;
	font-size: 14px;
	/* transition: all 0.3s linear; */
}

.xw_her_right a:hover {
	color: #5dd5c8;
}

.xw_her_right a .xw_spa {
	color: #fff;
}

.xw_spa {
	width: 30px;
	height: 15px;
	background: red;
	font-size: 10px;
	text-align: center;
	line-height: 15px;
	border-radius: 7px;
	position: absolute;
	top: 7px;
	left: 61px;
}

/* -------------------转换分割---------------------- */
.xw_wrap-b {
	height: 60px;
	background: #fff;
	border-top: 1px solid #b6b4b6;
	/* display: none; */

}

.xw_header-b {
	width: 1170px;
	height: 60px;
	margin: 0 auto;
}

.xw_logo-b {
	color: #5dd5c8;
	float: left;
	width: 173px;
	height: 36px;
	margin-top: 10px;
	/* margin-right: 5px; */
	background: url(https://static.zhipin.com/zhipin/v171/web/news/images/logo-x.png) 3px 7px no-repeat;
}

.xw_nav_left-b {
	float: left;
	line-height: 60px;

}

.xw_nav_left-b li a {
	margin-left: 34px;
	color: #000;
	height: 60px;
}

.xw_enter-b,
.xw_sign-b {
	margin-top: 18px;
	color: #9fa3b0;


}

.xw_her_right .xw_enter-b:hover {
	background: #5dd5c8;
	color: #fff;
}

.xw_her_right .xw_sign-b:hover {
	background: #5dd5c8;
	color: #fff;
}

.xw_nav_right-b li {
	line-height: 60px;
	margin: 0 20px 0 20px;

}

.xw_nav_right-b li a {
	color: #000;
}

/* -------------------------以上是头部-------------------------- */
/* -------------------------以下是底部-------------------------- */
.xw_footer {
	height: 212px;
	background: #fff;
	border-bottom: 1px solid #465460;
}

.xw_siteinfo {
	width: 1000px;
	height: 212px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 28px 0 18px 0;
	position: relative;
}

.xw_friendlink {
	float: left;
	width: 192px;
}

.xw_friendlink dt {
	width: 192px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	color: #414a60;
	margin-bottom: 10px;
}

.xw_friendlink dd {
	white-space: nowrap;
	height: 24px;
	color: #8d92a1;
	line-height: 24px;
	font-size: 12px;
}

.xw_friendlink dd a {
	white-space: nowrap;
	color: #8d92a1;
}

.xw_friendlink dd a:hover {
	color: #5dd5c8;
}

.xw_bossom {
	float: left;
	position: absolute;
	bottom: 10px;
}

.xw_bossom span {
	height: 26px;
	line-height: 26px;
	color: #8d92a1;
	font-size: 12px;
	margin-right: 10px;
}

.xw_bossom a {
	line-height: 26px;
	display: inline-block;
	font-size: 12px;
	color: #414a60;
	margin-right: 10px;
	transition: all 0.3s;
}

.xw_bossom a:hover {
	color: #5dd5c8;
}

.siteinfolegal img {
	width: 16px;
	height: 16px;
}

.xw_msg-right {
	float: right;
}

.xw_r-top {
	float: right;
}

.xw_r-top img {
	float: right;
	display: block;
	width: 88px;
	height: 16px;
	margin: 6px 0 7px 0;
}

.xw_r-top p {
	text-align: right;
	font-size: 13px;
	color: #8d92a1;
	line-height: 26px;

}

.xw_l-bottom a {
	display: inline-block;
	width: 44px;
	height: 44px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #eaebee;
	float: right;
	margin-left: 23px;
	margin-top: 20px;
}

.xw_l-bottom a:hover {
	border: 1px solid #414a60;
}

.xw_l-bottom a i {
	font-size: 30px;
	line-height: 44px;
	color: #999;
}

.xw_imgs {
	width: 100px;
	height: 100px;
	display: none;
	position: absolute;
	bottom: 65px;
	right: 42px;
	/* position: fixed; */
}

.xw_l-bottom .two:hover .xw_imgs {
	display: block;
}

/* -------------------------以上是底部-------------------------- */
/* -------------------------以下是侧边栏-------------------------- */
.xw_sideBar {
	position: absolute;
	top: 50px;
	right: 0;
	z-index: 99999;
}

.xw_s-left {
	width: 60px;
	height: 640px;
	background: #fff;
	/* position: absolute */
	display: inline-block;
	float: left;
	box-shadow: -2px 0px 3px -2px #9fa3af;
}

.xw_s-left ul {
	width: 60px;
	/* height: 75px; */
	padding-top: 15px;
}

.xw_s-left ul li {
	width: 60px;
	height: 45px;
	padding: 10px 0 10px 0;
	text-align: center;
	margin-top: 3px;
	font-size: 12px;
	color: #414a60;
	cursor: pointer;
}

.xw_s-left li:hover {
	color: #54cbc4;
}

/* css:hover时的处理 */
.xw_s-left li:nth-child(1):hover i {
	background-position: 21px -61px;
}

.xw_s-left li:nth-child(2):hover i {
	background-position: 21px -124px;
}

.xw_s-left li:nth-child(3):hover i {
	background-position: 21px -146px;
}

.xw_s-left li:nth-child(4):hover i {
	background-position: 21px -188px;
}

.xw_s-left .xw_hover:hover .xw_lii-e {
	background-position: 21px -210px;
}

.xw_s-left ul li i,
.xw_lii-e {
	width: 21px;
	height: 21px;
	display: block;
	background-size: 42px auto;
	margin: 0 auto;
	margin-bottom: 10px;
}

/* 为每一个i添加背景图 */
.xw_lii-a {
	background: url(https://static.zhipin.com/zhipin/v173/web/geek/images/siderbar.png) 0px -61px;
}

.xw_lii-b {
	background: url(https://static.zhipin.com/zhipin/v173/web/geek/images/siderbar.png) 0px -124px;
}

.xw_lii-c {
	background: url(https://static.zhipin.com/zhipin/v173/web/geek/images/siderbar.png) 0px -146px;
}

.xw_lii-d {
	background: url(https://static.zhipin.com/zhipin/v173/web/geek/images/siderbar.png) 0px -188px;
}

.xw_s-left ol {
	margin-top: 172px;

}

.xw_s-left ol li {
	width: 60px;
	height: 14px;
	line-height: 14px;
	font-size: 12px;
	color: #414a60;
	text-align: center;
	padding: 10px 0px 10px 0px;
	cursor: pointer;
}

.xw_lii-e {
	background: url(https://static.zhipin.com/zhipin/v173/web/geek/images/siderbar.png) 0px -210px;
	background-size: 42px auto;
}

.xw_sideBar .js-move {
	color: #54cbc4;
}

/* 以下是右边 */
.xw_s-right {
	width: 310px;
	height: 640px;
	background: #fbfbfd url(https://static.zhipin.com/zhipin/v173/web/geek/images/not-login.png) no-repeat center 220px;
	background-size: 90px 72px;
	display: inline-block;
	float: left;
	position: relative;
	border-left: 1px solid #eee;
	display: none;
}

.xw_s-right-top {
	width: 264px;
	height: 20px;
	padding: 30px 22px 20px 20px;
	font-size: 14px;
	color: #414a60;
}

.xw_s-right-top a {
	float: right;
	font-size: 12px;
	color: #9fa3b0;
}

.xw_s-right-bottom {
	width: 310px;
	height: 200px;
	position: absolute;
	top: 0;
	bottom: 0;
	text-align: center;
	margin: auto;
	/* border: 1px solid #fff; */

}

.xw_s-right-bottom p {
	height: 15px;
	font-size: 15px;
	line-height: 15px;
	color: #9fa3b0;
	padding: 102px 0 26px 0;
}

.xw_s-right-bottom a {
	display: inline-block;
	width: 112px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	background: #5dd5c8;
	color: #fff;
}

.xw_s-right-bottom a:hover {
	background: #00d7c6;
}

.xw_code,
.xw_app {
	position: relative;
}

.xw_wechat-app {
	position: absolute;
	left: -210px;
	top: -128px;
	width: 196px;
	height: 196px;
	background: #fff;
	/* display: none; */
	font-size: 12px;
	border: 1px solid #8d92a1;
	text-align: 14px;
}

.xw_wechat {
	display: none;
}

.xw_app-b {
	display: none;
}

.xw_wechat-app div {
	width: 0;
	height: 0;
	border: 12px solid rgba(0, 0, 0, 0);
	border-left-color: darkgray;
	position: absolute;
	right: -24px;
	top: 132px;

}

.xw_wechat-app img {
	display: block;
	width: 134px;
	height: 134px;
	margin: 16px auto 0px;

}

/* -------------------------以上是侧边栏-------------------------- */
/* -------------------------以下是意见反馈-------------------------- */
.xw_dim {
	width: 100%;
	height: 100%;
	background: rgba(37, 40, 48, .7);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 999;
}

.xw_feedback {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -265px;
	margin-top: -251px;
	background: #fff;
}

.xw_f-top {
	width: 530px;
	height: 70px;
	/* background: #00d7c6; */
	box-sizing: border-box;
	padding: 26px 0 16px 30px;
}

.xw_f-top h3 {
	display: inline-block;
	color: #62687a;
	font-size: 18px;
}

.xw_f-top h3 span {
	color: #fc6c38;
	font-size: 13px;
}


.xw_f-center {
	width: 530px;
	height: 368px;
	/* background: darkblue; */
	box-sizing: border-box;
	padding: 0 30px;
}

.xw_f-center-a span {
	float: left;
	color: #62687a;
	font-size: 14px;
	line-height: 26px;
	margin-right: 14px;
}

#content {
	width: 368px;
	height: 98px;
	padding: 10px 12px;
	resize: none;
	/* border: 1px solid #f00; */

}

#content:focus {
	border: 1px solid #00d7c6;
	box-shadow: 0px 0px 2px #00d7c6;
}

.xw_f-center-a p {
	padding-left: 73px;
	font-size: 12px;
	color: #d1d4db;
	line-height: 17px;

}

.xw_f-center-b p {
	font-size: 14px;
	color: #62687a;
	line-height: 26px;
}

.xw_f-center-b span {
	padding-left: 3px;
	color: #9fa3af;
	font-size: 13px;
}

.xw_f-center-b a {
	display: block;
	width: 108px;
	height: 108px;
	background: #fff url(https://static.zhipin.com/zhipin/v173/web/geek/images/icon-add.png) no-repeat center;
	border: 1px solid #e3e7ed;
	position: relative;
	margin: 10px 0 20px 73px;

}

.xw_f-center-b a input {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	cursor: pointer;
	opacity: 0;

}

.xw_f-center-c span {
	color: #62687a;
	font-size: 14px;
	line-height: 26px;
	margin-right: 17px;
}

.xw_f-center-c input {
	width: 241px;
	height: 32px;
	padding-left: 40px;
	border: 1px solid #eee;
	background: #fff url(https://static.zhipin.com/zhipin/v173/web/geek/images/icons-sign.png) 11px -39px no-repeat;

}

.xw_f-center-c input:focus {
	border: 1px solid #00d7c6;
	box-shadow: 0px 0px 2px #00d7c6;
}

.xw_f-center-c {
	font-size: 0;
	/* overflow: hidden; */
}

.xw_f-center-c b {
	display: inline-block;
	width: 110px;
	height: 32px;
	background: darkseagreen;
	border: 1px solid darkgreen;
	font-size: 18px;
	/* margin-top: 3px; */
	vertical-align: top;
	line-height: 32px;
	text-align: center;
	color: #fc6c38;
	user-select: none;

}

.xw_f-center-c p {
	font-size: 12px;
	color: #fc6c38;
	padding-left: 73px;
	/* visibility: hidden; */
}

.xw_f-bottom {
	width: 530px;
	height: 64px;
	/* background: darkgreen; */
	box-sizing: border-box;
	padding: 0 30px;
}

.xw_f-bottom a {
	display: inline-block;
	width: 42px;
	height: 32px;
	line-height: 32px;
	padding: 0 25px;
	border: #00d7c6 solid 1px;
	float: right;
	margin-left: 20px;
}

.xw_f-bottom a:nth-child(1) {
	color: #fff;
	background: #00d7c6;
}

.xw_f-bottom a:nth-child(1):hover {
	background: #6adbcf;
}

.xw_f-bottom a:nth-child(2) {
	color: #00d7c6;
	/* box-sizing:border-box; */
}

.xw_f-bottom a:nth-child(2):hover {
	box-shadow: 00px 00px 0px 1px #00d7c6 inset;
	text-shadow: 0px 0px 1px #00d7c6;
}

.xw_close {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 22px;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 20px;
	color: #d1d4db;
	transition: background 0.3s;
}

.xw_close:hover {
	background: #d1d4db;
	color: #414a60;
	cursor: pointer;
}


/* S 两级菜单插件样式 */
.f_cityList,
.f_cityOist {
	display: inline-block;
	width: 146px;
	height: 280px;
	border-top: none;
	outline: none;
	position: absolute;
	overflow: hidden;
	display: none;
	background: #fff;
	z-index: 99999;
}

.f_cityOist {
	width: 146px;
	margin-left: 146px;
	background: #f8f9fa;
}

.f_cityList ul,
.f_cityOist ol {
	float: left;
	width: 141px;
	position: absolute;
}

.f_cityList li,
.f_cityOist li {
	width: 121px;
	line-height: 56px;
	padding-left: 20px;
	color: #9fa3b0;
}

.f_cityList .f_sor,
.f_cityOist .f_sor {
	float: right;
	height: 100%;
	width: 5px;
	display: none;
}

.f_cityList .f_sor p,
.f_cityOist .f_sor p {
	position: absolute;
	width: 5px;
	border-radius: 2px;
	background: #ccc;
}

/* E 两级菜单插件样式 */
