*{padding: 0;margin: 0}
html{
    height: 100%;
}
body {
    line-height: 26px;
    color: #414a60;
    font-size: 14px;
    height: 100%;
}

.mask{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: black;
    position: fixed;
    top: 0;
    display: none;
}
.c_close{
    display: inline-block;
    width: 24px;
    height: 24px;
    top: 7px;
    right: 7px;
    position: absolute;
    vertical-align: top;
    background: url(../images/boss_app/gs_icons.png) no-repeat;
    background-position:4px -1430px;
}
.c_close:hover{
    background: rgb(235, 226, 226) url(../images/boss_app/gs_icons.png) no-repeat;
}
.mBody{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 900px;
    padding-left: 25px;
    margin-left: -450px;
    padding-left: 25px;
    margin-top: -275px;
    display: none;
    background: #fff;
    z-index: 9999;
}
h5{
    font-size: 16px;
    color: #424a5e;
    line-height: 50px;
    font-weight: 400;
}
.mdu{
    height: 500px;
}
.mdu ul{
    float: left;
}
.m_Ul{
    float: left;
    width: 150px;
    padding-top: 10px;
    height: 490px;
    background-color: #f9fafb;
    overflow-y: scroll;
}
.m_Ul li{
    color: #61687c;
    line-height: 20px;
    padding: 10px 0;
    position: relative;
    cursor: pointer;
}
.m_Ul0{
    width: 700px;
    padding: 10px 22px 22px 22px;
}
.m_Ul0 li{
    display: inline-block;
    float: left;
    line-height: 40px;
    width: 25%;
    cursor: pointer;
}
/***************************modal end*****************************/
#wrap{
    background: #f5f7f9;
}
.main{
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
}
/***************************main end*****************************/
#wrap .text{
    width: 956px;
    padding: 30px 22px;
}
#wrap .text .con-bottom{
    margin-bottom: 13px;
}
#wrap .text .tittle {
    float: left;
    width: 70px;
    color: #414a60;
}
#wrap .text .content {
    display: block;
    width: calc(100% - 70px);
    margin-left: 70px;
    font-size: 13px;
}
#wrap .text .selected,#wrap .text a:hover,.m_Ul .selected,.m_Ul li:hover,.m_Ul li:hover,.xd span:hover{
    color: #00c2b3;
}
#wrap .text a{
    display: inline-block;
    margin-right: 6px;
    font-size: 12px;
    padding: 1px 8px 0;
    color: #61687c;
}
/***************************text end*****************************/


#wrap .img{
    margin-top: 13px;
}
.expect {
    width: 956px;
    height: 44px;
    margin: 10px auto 2px;
    background-color: #fff;
    font-size: 12px;
}
.expect .company-count {
    float: right;
    height: 44px;
    line-height: 44px;
    color: #8d92a1;
}
.expect .company-count span {
    padding: 0 4px;
}
.cs{
    line-height: 44px;
    border: 1px solid #61687c;
    margin-right: 15px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
}
.cbox{
    opacity: 0;
}

/***************************expect end*****************************/
.company-list{
    width: 100%;
    overflow: hidden;
}
.cell{
    padding: 20px 20px 18px;
    width: 25%;
    height: 140px;
    margin: 0;
    box-sizing: border-box;
    border: 2px solid #f6f6f8;
    border-left: none;
    display: block;
    float: left;
    cursor: pointer;

}
.cell:hover{
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}
.cell .part1{
    height: 73px;
    margin-bottom: 10px;
}
.cell .pl{
    float: left;
    display: block;
    width: 57px;
    height: 57px;
}
.cell .pr{
    width: 140px;
    float: right;
    text-align: right;
}
.cell .pr p {
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.vline{
    display: inline-block;
    width: 1px;
    height: 12px;
    vertical-align: middle;
    background: #e0e0e0;
    margin: 0 10px;
}
.cell span{
    color: #898e9d;
    font-size: 12px;
    white-space: nowrap;
    padding-right: 3px;

}
.cell .h {
    color: #00c2b3;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    max-width: 90px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/***************************c_list end*****************************/


.bar{
    text-align: center;
    padding: 12px 0;
}
.bar a{
    display: inline-block;
    min-width: 28px;
    height: 24px;
    line-height: 24px;
    margin: 0 10px;
    text-align: center;
    background: #fff;
    border: 1px #fff solid;
    vertical-align: middle;
}
.bar a:hover{
    color: #00c2b3
}
.bar .nm,.bar .nm:hover{
    color:#fff;
    background-color: #62d5c8;
}
.bar a:nth-child(1),.bar a:nth-child(6){
    border: 1px solid #e8e9ed;;
    background: url(../images/boss_app/gs_icons.png) no-repeat;
}
.bar a:nth-child(1){
    background-position: 9px -830px;
}
.bar a:hover:nth-child(1){
    background-position: 9px -856px;
}
.bar a:nth-child(6){
    background-position: 10px -883px;
}
.bar a:hover:nth-child(6){
    background-position: 10px -912px;
}
/***************************bar end*****************************/


.xd{
    height: 44px;
    display: none;
    overflow: visible;
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    background-color: #fff;
    font-size: 12px;
    box-shadow: 0 3px 6px rgba(6,0,1,.05);
    /* overflow: hidden; */
    -webkit-transition: all linear .2s;
    transition: all linear .2s;
}
.xw{
    width: 1000px;
    max-width: 1170px;
    margin: 0 auto;
    line-height: 44px;
}

.xd .xdt{
    padding-left: 20px;
}
.xdt:hover{
    color: #00c2b3;
}

.xd .li1,.xd span,.xd .xdt{
    cursor: pointer;
    float: left;
}
.xd .ul1{
    line-height: 44px;
    float: right;
    height: 100%;
    color: #61687c;
}
.xd .li1{
    display: inline-block;
    position: relative;
    width: 114px;
    height: 100%;
    cursor: pointer;
}
.xd .li1 .text{
    display: block;
    padding: 0 16px;
    background-color: unset;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}
/***************************吸顶 end*****************************/
.arrow{
    border-top-color: #61687c;
    display: inline-block;
    margin: 2px 10px;
    border-top: 3px solid #00c2b3;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    -webkit-transition: all linear .2s;
    transition: all linear .2s;
}
.liz{
    display: none;
    animation: slideIn .2s both;
    position: relative;
    height: 0;
    margin-right: 2px;
}

.liz ul{
    border-top: 1px #e3e7ed solid;
    font-size: 13px;
    box-shadow: 0 3px 6px rgba(6,0,1,.05);
    position: absolute;
    top: -27px;
    left: 0;
    width: 100%;
    border: 1px #e3e7ed solid;
    border-top: 0;
    background-color: #fff;
    overflow: auto;
    max-height: 208px;
    -webkit-overflow-scrolling: touch;
}

.x_r{
        display: inline-block;
        position: relative;
        width: 114px;
        height: 100%;
        cursor: pointer;
}
.z_address ul,.z_type ul{
    border-top: 1px #e3e7ed solid;
    font-size: 13px;
    width: 503px;
    top: 44px;
    /* right: 0; */
    box-shadow: 0 3px 6px rgba(6,0,1,.05);
    animation: slideIn .2s both;
    padding: 10px;
    line-height: 34px;
}
.z_address,.z_type{
    width: 503px;
}
.z_address ul{
    left: unset;
    right: 38px;
    height: 68px;
    padding: 10px;
    line-height: 34px;
    overflow: hidden;

}
.z_address ul a,.z_type a{
    display: inline-block;
    height: 28px;
    line-height: 28px;
    overflow-x: hidden;
    white-space: nowrap;
}
.z_type ul{
    left: unset;
    right: 156px;
    padding: 10px;
    line-height: 34px;
}

.liz a{
    color: #61687c;
    display: block;
    height: 100%;
    padding: 0 15px;
}
.z_type ul a{
    width: 118px;
    display: inline-block;
}
/* .z_tage ul{
} */
/***************************出来吧 end*****************************/
.recruit{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 43px;
}
.recruit .t2{
    display: none;
}
.recruit .text{
    margin: 8px auto 6px auto;
}
.recruit .text p{
    color: #4a4e52;
    font-size: 15px;
}
.recruit .text li,.a_list a{
    color: #9fa3b0;
    font-size: 12px;
    margin-right: 26px;
    display: inline-block;
}
.recruit .text li:hover,.zk:hover,.a_list a:hover{
    text-decoration: underline;
    color: #4a4e52;
}
.recruit label{
    position: absolute;
    right: 0;
    top: 0;
    color: #9fa3b0;
    cursor: pointer;
}
.recruit em{
    background: url(../images/boss_app/gs_icons.png) no-repeat;
    background-position: 5px -786px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    display: inline-block;
}
.a_list{
    margin-top: 20px;
}
.a_list a{
    margin-right: 0;
}
.a_list em{
    background: url(../images/boss_app/gs_icons.png) no-repeat;
    background-position: 10px -883px;
    vertical-align: middle;
}
/***************************recruit end*****************************/
