body {
    line-height: 26px;
    color: #414a60;
    font-size: 14px;
}
#wrap{
    background: #f5f7f9;
}
.main{
    width: 956px;
    margin: 0 auto;
    padding: 30px 22px;
    background-color: #fff;
}

#wrap .text .con-bottom{
    margin-bottom: 13px;
}
#wrap .text .tittle {
    float: left;
    width: 70px;
    color: #414a60;
}
#wrap .text .content {
    display: block;
    width: calc(100% - 70px);
    margin-left: 70px;
    font-size: 13px;
}
#wrap .text .selected,#wrap .text a:hover {
    color: #00c2b3;
}
#wrap .text a {
    display: inline-block;
    margin-right: 6px;
    padding: 1px 8px 0;
    color: #61687c;
}




#wrap .img{
    margin-top: 13px;
    padding: 0 22px;
}
.expect {
    width: 912px;
    height: 44px;
    margin: 10px auto 2px;
    padding: 0 22px;
    background-color: #fff;
    font-size: 12px;
}
.expect .company-count {
    float: right;
    height: 44px;
    line-height: 44px;
    color: #8d92a1;
}
.expect .company-count span {
    padding: 0 4px;
}
.expect .checkbox{
    line-height: 44px;
}
/* .expect .checkbox input[type="checkbox"], .standard .radio input[type="radio"] {
    position: absolute;
    z-index: -100;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
} */
.expect .checkbox input[type="checkbox"] ~ span, .standard .radio input[type="radio"] ~ span {
    display: inline-block;
    cursor: pointer;
    position: relative;
    min-height: 18px;
    padding-left: 24px;
}