
.clearfix:after{
    content: ".";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    font-size: 1px;
}
.xw_wrap{
    height: 49px;
    background: #202329;
    border-top: 1px solid #b6b4b6;
    overflow: hidden;
}
.xw_header{
    width: 1000px;
    height: 49px;
    margin: 0 auto;
}
.xw_her_left{
    float: left;
}
.xw_logo{
    color: #5dd5c8;
    float: left;
    width: 110px;
    height: 36px;
    margin-top: 6px;
    /* margin-right: 5px; */
    background: url(https://static.zhipin.com/zhipin/v171/web/geek/images/logo-2x.png) 3px 7px no-repeat;
    background-size: 105px 19px;
}
.xw_nav_left{
    float: left;
    line-height: 49px;
   
}
.xw_nav_left li{
    float: left;
}
.xw_nav_left li a{
    margin-left: 23px;
    display: inline-block;
    height: 49px;
    transition: color 0.3s linear;
    font-size: 14px;
}
.tra{
    color: #fff;
    /* transition: all 0.3s linear;  */
}
.tra:hover{
    color: #5dd5c8;
}
.xw_her_left li .xw_js-left{
    color: #5dd5c8;
}
/* ----------------左右分割----------------- */
.xw_her_right{
    float: right;
}
.xw_enter,.xw_sign{
    float: right;
    display: inline-block;
    width: 50px;
    height: 25px;
    /* background: yellow; */
    box-sizing:border-box;
    border: 1px solid #5dd5c8;
    border-radius: 12px;
    text-align: center;
    margin-top: 12px;
    margin-left: 17px;
    color: #fff;
    font-size: 13px;
    line-height: 23px;
}
.xw_nav_right{
    float:right;
}
.xw_nav_right li{
    float:right;
    margin: 0 10px 0 10px;
    line-height: 49px;
    position: relative;
}
.xw_nav_right li a{
    color: #fff;
    font-size: 14px;
    /* transition: all 0.3s linear; */
}
.xw_her_right a:hover{
    color: #5dd5c8;
}
.xw_her_right a .xw_spa{
    color: #fff;
}
.xw_spa{
    width: 30px;
    height: 15px;
    background: red;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
    border-radius: 7px;
    position: absolute;
    top: 7px;
    left: 61px;
}
/* -------------------转换分割---------------------- */
.xw_wrap-b{
    height: 60px;
    background: #fff;
    border-top: 1px solid #b6b4b6;
    /* display: none; */

}
.xw_header-b{
    width: 1170px;
    height: 60px;
    margin: 0 auto;
}
.xw_logo-b{
    color: #5dd5c8;
    float: left;
    width: 173px;
    height: 36px;
    margin-top: 10px;
    /* margin-right: 5px; */
    background: url(https://static.zhipin.com/zhipin/v171/web/news/images/logo-x.png) 3px 7px no-repeat;
}
.xw_nav_left-b{
    float: left;
    line-height: 60px;
   
}
.xw_nav_left-b li a{
    margin-left: 34px;
    color: #000;
    height: 60px;
}
.xw_enter-b,.xw_sign-b{
    margin-top: 18px;
    color: #9fa3b0;
    
    
}
.xw_her_right .xw_enter-b:hover{
    background: #5dd5c8;
    color: #fff;
}
.xw_her_right .xw_sign-b:hover{
    background: #5dd5c8;
    color: #fff;
}
.xw_nav_right-b li{
    line-height: 60px;
    margin: 0 20px 0 20px;

}
.xw_nav_right-b li a{
    color: #000;
}
/* -------------------------以下是底部-------------------------- */
.xw_footer{
    height: 212px;
    background: #fff;
    border-bottom: 1px solid #465460;
}
.xw_siteinfo{
    width: 1000px;
    height: 212px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 28px 0 18px 0;
    position: relative;
}
.xw_friendlink{
    float: left;
    width: 192px;
}
.xw_friendlink dt{
    width: 192px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    color: #414a60;
    margin-bottom: 10px;
}
.xw_friendlink dd{
    white-space:nowrap;
    height: 24px;
    color: #8d92a1;
    line-height: 24px;
    font-size: 12px;
}
.xw_friendlink dd a{
    white-space:nowrap;
    color: #8d92a1;
}
.xw_friendlink dd a:hover{
    color: #5dd5c8;
}
.xw_bossom{
    float: left;
    position: absolute;
    bottom: 10px;
}
.xw_bossom span{
    height: 26px;
    line-height: 26px;
    color: #8d92a1;
    font-size: 12px;
    margin-right: 10px;
}
.xw_bossom a{
    line-height: 26px;
    display: inline-block;
    font-size: 12px;
    color: #414a60;
    margin-right: 10px;
    transition:all 0.3s;
}
.xw_bossom a:hover{
    color: #5dd5c8;
}
.siteinfolegal img{
    width: 16px;
    height: 16px;

}
.xw_msg-right{
    float: right;
}
.xw_r-top{
    float: right;
}

.xw_r-top img{
    float: right;
    display: block;
    width: 88px;
    height: 16px;
    margin: 6px 0 7px 0;
}
.xw_r-top p{
    text-align: right;
    font-size: 13px;
    color: #8d92a1;
    line-height: 26px;

}
.xw_l-bottom a{
    display: inline-block;
    width: 44px;
    height: 44px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #eaebee;
    float: right;
    margin-left: 23px;
    margin-top: 20px;
}
.xw_l-bottom a:hover{
    border: 1px solid #414a60;
}
.xw_l-bottom a i{
    font-size: 30px;
    line-height: 44px;
    color: #999;
}
.xw_imgs{
    width: 100px;
    height: 100px;
    display: none;
    position: absolute;
    bottom: 65px;
    right: 42px;
    /* position: fixed; */
}
.xw_l-bottom .two:hover .xw_imgs{
    display: block;
}
/* -------------------------以上是底部-------------------------- */
.xw_sideBar{
    width: 371px;
    height: 640px;
    
    position: absolute;
    top: 50px;
    right: 0;
    /* margin-right: -50px; */
}
.xw_s-left{
    width: 60px;
    height: 640px;
    background: brown;
}
.xw_s-right{

}