.l_header_box{
	height: 120px;
    background: #5dd5c8;
    position: relative;
    padding-top: 0;
}
.l_header{
	width: 934px;
	height: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
.l_header>img{
	float: left;
    height: 118px;
    margin: 2px 35px 0 0;
}
.l_step_form{
	float: right;
    position: relative;
}
.l_step_form img{
	height: 26px;
    margin: 22px 0 8px 0;
}
.l_input_box{
	display: inline-block;
    vertical-align: middle;
    position: relative;
}
.l_input_box>input{
	padding: 6px 10px 5px 10px;
    height: 25px;
    border: none;
    line-height: 25px;
    background: #fff;
    box-shadow: 1px 0 4px 0 rgba(86,174,164,.5);
    font-size: 12px;
    vertical-align: middle;
}
.l_btn{
	min-width: 80px;
    box-sizing: content-box;
	display: inline-block;
	text-align: center;
    font-size: 12px;
    vertical-align: middle;
    border: 1px solid #fff;
    height: 34px;
    line-height: 34px;
	background: #5DD5C8;
	color: #fff;
}
.l_showCode{
	color: #54cbc4;
    font-size: 12px;
    position: absolute;
    right: 15px;
    top: 10px;
}

.l_seach_box{
	position: relative;
}
.l_seach{
	width: 934px;
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 20px;
}
.l_search_form{
	height: 50px;
}
.l_search-form-con{
	width: 792px;
	height: 100%;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.13);
	background: #fff;
	display: inline-block;
	border: 1px solid #fff;
}
.l_search-form-con:hover{
    border-color: #00d7c6;
}
.l_position_sel{
	width: 99px;
    float: left;
	padding: 9px 15px 8px 11px;
    border-color: #fff;
    border-left: 1px solid #fff;
	position: relative;
	cursor: pointer;
	position: relative;
}
.l_label_text{
	width: 80px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}
.l_label_text>b{
	font-size: 16px;
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
	font-weight: 400;
    color: #61687c;
	line-height: 30px;
}
.l_label_text>i{
	width: 16px;
    height: 16px;
	background-image: url("https://static.zhipin.com/zhipin/v171/web/geek/images/icons.png");
	background-position: 0 -2044px;
	position: absolute;
	display: inline-block;
    right: 15px;
    top: 16px;
}
.l_ipt_wrap{
	float: left;
    width: 664px;
    background: #fff;
    border: 1px solid #53cac3;
    border-left: none;
    border-right: none;
	border-color: #fff;
}
.l_ipt_wrap>input{
	width: 626px;
    height: 28px;
    line-height: 30px;
    padding: 10px 19px;
    border: 0;
    font-size: 16px;
    color: #414a60;
}
.l_btn_search{
	display: inline-block;
	height: 50px;
    line-height: 50px;
    background-image: none;
    font-size: 16px;
    width: 140px;
    float: right;
	text-align: center;
    color: #fff;
    background: #55cbc4;
    border: 0;
}
.l_search_hot{
	padding: 15px 0 26px 0;
	font-size: 13px;
    color: #9fa3b0;
}
.l_search_hot>b{
	margin-right: 18px;
	font-weight: 400;
    display: inline-block;
}
.l_search_hot>a{
	color: #00c2b3;
    margin-right: 22px;
}
.l_select_tree{
	height: 250px;
    width: 506px;
	display: block;
	position: absolute;
	top: 52px;
    left: -3px;
	color: #8d92a1;
}
.l_select_tree>ul{
	float: left;
    position: unset;
	top: 0;
    left: 0;
    width: 166px;
    max-height: 250px;
    height: 250px;
	border: 1px #e3e7ed solid;
    border-top: 0;
    background-color: #fff;
    overflow: auto;
	display: none;
}
.l_select_tree>ul li{
	display: block;
    background: 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	line-height: 42px;
    padding: 0 15px;
    cursor: pointer;
}
.l_selected{
	background-color: #f2f5f9;
    -webkit-transition: all linear .2s;
    transition: all linear .2s;
}