.f_contant{
    width: 1000px;
    margin: 0 auto;
}

/* S search */
.f_warpSearch{
    padding: 20px 0;
    background: #fff;
}
.f_search{
    overflow: hidden;    
}
.f_search .f_sel{
    height: 100%;
    width: 676px;
    float: left;
    line-height: 30px; 
    position: relative;
    border:1px solid #00d7c6;
}
.f_search .f_sel span{
    display: inline-block;
    width: 65px;
    line-height: 30px;
    padding: 6px 15px 8px;
    background: url("../images/boss_posi/f_icons.gif") no-repeat 70px -29px;
}

.f_search .f_sel span.bg{
    background-position:70px 18px;
}

.f_search .f_sel i{
    display: inline-block;
    width: 1px;
    background: #f2f2f5;
    height:28px;
     position: relative;
    top:8px; 

}

.f_search .f_sel .f_text{
    display: inline-block;
    padding: 7px 15px 7px;
    width: 323px;
    height: 28px;
}
.f_search .f_sel div{
    font-size: 14px;
    display: inline-block;
    height: 28px;
    padding: 6px 0 8px;
}
.f_search .f_sel div b{
    width: 68px;
    text-align: center;
    font-weight: normal;
    display: inline-block;
    border-left: 1px solid #f2f2f5;
    padding: 0 15px;
}


.f_search  .f_btn{
    float: left;
    width: 90px;
    height: 46.8px;
    background: #00d7c6;
    cursor: pointer;
    
}

/* E search */


/* S cityList */
.f_cityList , .f_cityOist{
    display: inline-block;
    width: 146px;
    height: 300px;
    border-top: none;
    outline: none;
    position: absolute;
    overflow: hidden;
    display: none;
    background: #fff;
}
.f_cityOist{
    width: 146px;
    margin-left: 146px;
    background: #f8f9fa;
}

.f_cityList ul,.f_cityOist ol{
    float: left;
    width: 141px; 
    position: absolute; 
}

.f_cityList li,.f_cityOist li{
    width: 121px;
    line-height: 56px;
    padding-left: 20px;
}
/* .f_cityList li:hover{
    background: #f1f3f6;
} */
.f_cityList .f_sor,.f_cityOist .f_sor{
    float: right;
    height: 100%;
    width: 5px;
    display: none;
    
}
.f_cityList .f_sor p,.f_cityOist .f_sor p{
    position: absolute;
    height:50px;
    width: 5px;
    border-radius: 2px;
    background: #ccc;
}


/* E cityList */


/* S positype */
.f_warpSearch .f_posiList{
    height: 250px;
    border: 1px solid red;
    overflow: hidden;
    position: relative;
}
.f_warpSearch .f_posiList>div{
    width: 168px;
    height: 100%;
    float: left;
    margin-right: 10px;
    position: relative;
    border: #00d7c6 1px solid;
}
.f_warpSearch .f_posiList ul{
    width: 168px;
    float: left;
    margin-right: 10px;
    position: absolute;
}
.f_warpSearch .f_posiList ul li{
    width: 148px;
    line-height: 42px;
    padding-left: 20px;
}
.f_warpSearch .f_posiList .f_posi_sor{
    width: 10px;
    height: 100%;
    position: absolute;
    display: none;
    right: -11px;

}
.f_posiList .f_posi_sor p{
    position: absolute;
    height:50px;
    width: 5px;
    border-radius: 2px;
    background: #ccc;
}
/* E positype */




























