.f_contant{
    width: 1000px;
    margin: 0 auto;
}

/* S search */
.f_warpSearch{
    padding: 20px 0;
}
.f_search{
    overflow: hidden;    
}
.f_search .f_sel{
    height: 100%;
    width: 676px;
    float: left;
    line-height: 30px; 
    position: relative;
    border:1px solid #00d7c6;
}
.f_search .f_sel span{
    display: inline-block;
    width: 65px;
    line-height: 30px;
    padding: 6px 15px 8px;
    background: url("../images/boos_posi/f_icons.gif") no-repeat 70px 18px;
}

.f_search .f_sel span.bg{
    background-position:70px -29px;
}

.f_search .f_sel i{
    display: inline-block;
    width: 1px;
    background: #f2f2f5;
    height:28px;
     position: relative;
    top:8px; 

}

.f_search .f_sel .f_text{
    display: inline-block;
    padding: 7px 15px 7px;
    width: 323px;
    height: 28px;
}
.f_search .f_sel div{
    font-size: 14px;
    display: inline-block;
    height: 28px;
    padding: 6px 0 8px;
}
.f_search .f_sel div b{
    width: 68px;
    text-align: center;
    font-weight: normal;
    display: inline-block;
    border-left: 1px solid #f2f2f5;
    padding: 0 15px;
}

.f_search  .f_btn{
    float: left;
    width: 90px;
    height: 46.8px;
    background: #00d7c6;
    cursor: pointer;
    
}

/* E search */


/* S cityList */
.f_cityList , .f_cityOist{
    display: inline-block;
    width: 146px;
    height: 300px;
    border: 1px solid #00d7c6;
    border-top: none;
    position: absolute;
}
.f_cityOist{
    width: 146px;
    margin-left: 200px;
    background: #f8f9fa;
}

.f_cityList ul,.f_cityOist ol{
    float: left;
    width: 90px;
    height: 100%;
    overflow: hidden;
}


.f_cityList li,.f_cityOist li{
    width: 70px;
    line-height: 56px;
    padding-left: 20px;
}
/* .f_cityList li:hover{
    background: #f1f3f6;
} */
.f_cityList .f_sor{
    float: left;
    height: 100%;
    width:56px;
    position: relative;
}
.f_cityList .f_sor p{
    position: absolute;
    height:50px;
    width: 5px;
    border-radius: 2px;
    background: #ccc;
    top:0;
    right: 0;
}


/* E cityList */






























