.f_contant{
    width: 1000px;
    margin: 0 auto;
}

/* S search */
.f_warpSearch{
    padding-top: 20px;
    background: #fff;
    color:#9fa3b0;
    font-size: 13px;
    cursor: pointer;
}
.f_posi_rela{
    position: relative;  
}
.f_search{
    overflow: hidden;    
}
.f_search .f_sel{
    height: 100%;
    width: 674px;
    float: left;
    position: relative;
    border:1px solid #00d7c6;
}
.f_search .f_sel span{
    display: block;
    float: left;
    width: 66px;
    line-height: 30px;
    padding: 6px 15px 8px;
    background: url("../images/boss_posi/f_icons.png") no-repeat 70px -29px;
}

.f_search .f_sel span.bg{
    background-position:70px 18px;
}

.f_search .f_sel i{
    display:block;
    width: 1px;
    background: #f2f2f5;
    height:28px;
    position: relative;
    top:8px; 
    float: left;
}

.f_search .f_sel .f_text{
    padding: 7px 15px 7px;
    padding-right: 44px;
    width: 323px;
    height: 28px;
    float: left;
}
.f_search .f_sel div{
    width: 97px;
    font-size: 14px;
    height: 100%;
    padding: 6px 0 8px;
    float: left;
    background: url("../images/boss_posi/f_icons.png") no-repeat 82px -30px;
}
.f_search .f_sel div.bg{
    background-position:82px 18px;
}
.f_search .f_sel div b{
    width: 55px;
    font-weight: normal;
    display:block;
    float: left;
    border-left: 1px solid #f2f2f5;
    padding: 4px 0 4px 15px;
    overflow: hidden;
    white-space: nowrap;
    
}


.f_search  .f_btn{
    float: left;
    width: 90px;
    height: 45.6px;
    background: #00d7c6;
    cursor: pointer;  
    color: #fff; 
    font-size: 25px;
}

/* E search */


/* S cityList */
.f_cityList , .f_cityOist{
    display: inline-block;
    width: 146px;
    height: 300px;
    border-top: none;
    outline: none;
    position: absolute;
    overflow: hidden;
    display: none;
    background: #fff;
    z-index: 3;
}
.f_cityOist{
    width: 146px;
    margin-left: 146px;
    background: #f8f9fa;
}

.f_cityList ul,.f_cityOist ol{
    float: left;
    width: 141px; 
    position: absolute; 
}

.f_cityList li,.f_cityOist li{
    width: 121px;
    line-height: 56px;
    padding-left: 20px;
}
.f_cityList .f_sor,.f_cityOist .f_sor{
    float: right;
    height: 100%;
    width: 5px;
    display: none;
    
}
.f_cityList .f_sor p,.f_cityOist .f_sor p{
    position: absolute;
    width: 5px;
    border-radius: 2px;
    background: #ccc;
}


/* E cityList */



/* S positype */
.f_warpSearch .f_posiList{
    height: 250px;
    overflow: hidden;
    position: absolute;
    left: 464px;
    display: none;
    background: #fff;
    z-index: 3;
}
.f_warpSearch .f_posiList>div{
    width: 168px;
    height: 100%;
    float: left;
    margin-right: 10px;
    position: relative;
    display: none;
    outline: none;
}
.f_warpSearch .f_posiList ul{
    width: 168px;
    float: left;
    margin-right: 10px;
    position: absolute;
}
.f_warpSearch .f_posiList ul li{
    width: 148px;
    line-height: 42px;
    padding-left: 20px;
}
.f_warpSearch .f_posiList .f_posi_sor{
    width: 10px;
    height: 100%;
    position: absolute;
    display: none;
    right: -11px;

}
.f_posiList .f_posi_sor p{
    position: absolute;
    width: 5px;
    border-radius: 2px;
    background: #ccc;
    left: 2px;
}
/* E positype */


/* S f_company_ul */

.f_warpSearch .f_company_ul{
    width: 766px;
    font: 13px;
    box-sizing: border-box;
    background: #fff;
    position: absolute;
    top:52px;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    padding: 25px 0 15px 55px;
    display: none;
    z-index: 3;
}
.f_warpSearch .f_company_ul li{
    width: 150px;
    margin-left: 5px;
    line-height: 30px;
    display: inline-block;
    margin-bottom: 12px;
    cursor: pointer;
}
.f_warpSearch .f_company_ul li:hover{
    background:#f6f6f8;
}

/* E f_company_ul */



/* S condition */
.f_warpSearch .f_condition{
    position: relative;
    font-size: 12px;
    .f_condCity{
        display: block;
        border-bottom: 1px solid #eef0f5;
        a{
            display: inline-block;
            background: #fff;
            padding: 0 11px;
            border: 1px #fff solid;
            margin: 0;
            height: 36px;
            line-height: 36px;
            
        }
        a:hover{
            color: #fc6c38;
        }
        .f_disabled{
            outline: none;
            cursor: default;
            color: #555;
        }
        .f_disabled:hover{
            color: #555;

        }
        .Color{
            color: #9fa3b0;
        }
        .Color:hover{
            color: #9fa3b0;
        }
        .f_right_icon{
            display: inline-block;
            vertical-align: middle;
            width: 12px;
            height: 16px;
            background: url('../images/boss_posi/f_icons.png') no-repeat 0 -86px;
            //background-size: 100%;
        }
    }
}

.f_condition .f_condition-area{
    border-bottom: 1px solid #eef0f5;
    a{
        height: 36px;
        line-height: 36px;
        display: inline-block;
        color: #414a60;
        padding: 0 11px;
    }
    a:hover{
        color: #fc6c38;
    }
    .f_disabledA{
        color: #9fa3b0;
        outline: none;
        cursor: default;
    }
    .f_disabledA:hover{
        color: #9fa3b0;
    }
}
.f_condition .f_screening{
    height:30px;
    padding: 5px 0 3px;
    span{
        display: block;
        width: 70px;
        height: 30px;
        padding-left: 15px;
        overflow: hidden;
        
        em{
            background: url("../images/boss_posi/f_icons.png") no-repeat left -139px;
            display: inline-block;
            width: 12px;
            height: 12px;
        }
    }
    .f_spanColor{
        color: #fc6c38; 
    }
    .f_scr_div{
        float:left;
        width: 140px;
        
        background: url("../images/boss_posi/f_icons.png") no-repeat 80px 12px;
        line-height: 26px;
        color: #414a60;
        position:relative;
        div{
            position: absolute;
            top:30px;
            padding: 0 6px;
            display: none;
            ul{
                width: 130px;
                border: 1px #e3e7ed solid;
                box-shadow: 0 3px 6px rgba(6,0,1,.05);
                background-color: #fff; 
            }
            ul li{
                padding: 0 15px;
                line-height: 40px;
                color: #414a60;
            }
            ul li:hover{
                background:#f2f5f9;
            }
            
        }
        .f_action{
            display: block;
        }
    } 
}

/* E condition */

/* S f_main */

/* S f_main_left */
.f_main{
    overflow: hidden;
}
.f_main .f_main_left{
    float: left;
    width: 726px;
    cursor:pointer;
    background:#fff;
    margin-top: 20px;
    li{
        overflow: hidden;
        padding: 22px 30px;
        font-size: 12px;
        .f_primary{
            width: 270px;
            float: left;
            margin-right: 15px;
            h3{
                color:#00d7c6;
                span{
                    color: #fc6c38; 
                    margin-left: 8px;
                }
            }  
        }
        .f_company_nama{
            width: 210px;
            margin-right: 15px;
            float: left;
            h3:hover{
                color:#00d7c6;
            }
        }
        .f_contact{
            float: left;
            width: 156px; 
            h3{
                font-size: 13px;
                color: #414a60;
                img{
                    width: 20px;
                    height: 20px;
                    border-radius: 40px;
                    vertical-align: middle;
                    margin: -3px 10px 0 0;
                }
                em{
                    display: inline-block;
                    width: 1px;
                    height: 12px;
                    vertical-align: middle;
                    background: #e0e0e0;
                    margin: 0 10px; 
                }
            }
        }
        div h3{
            font-size: 16px;
            font-weight: 400;
            height: 26px;
            line-height: 26px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        div p{
            margin-top: 2px;
            font-size: 12px;
            color: #9fa3b0;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        div p em{
            display: inline-block;
            width: 1px;
            height: 12px;
            vertical-align: middle;
            background: #e0e0e0;
            margin: 0 10px;
        }
        a{
            float: right;
            display: none;
            margin-right: 30px;
        }
        a.btn{
            min-width: 112px;
            display: inline-block;
            box-sizing: content-box;
            height: 36px;
            line-height: 36px;
            border: 1px #5dd5c8 solid;
            font-size: 16px;
            color: #fff;
            letter-spacing: 1px;
            background: #5dd5c8;
            text-align: center;
            cursor: pointer;
        }
    }
    li:hover{
        background-color: #f8f9fb;
    }
}


/* E f_main_left */

/* S f_main_right */
.f_main .f_main_right{
    width: 250px;
    float: right;
    margin-top: 20px;
    /* S f_login */ 
    .f_login{
        background-color: #5dd5c8;
        h3{
            text-align: center;
            padding: 20px 0 24px;
            color: #fff;
            font-size: 18px;
        }
        form{
            outline: none;
            line-height: 26px;
            color: #414a60;
            font-size: 14px;
            margin: 0 20px;
            .f_phone{
                position: relative;
                line-height: 26px;
                color: #414a60;
                font-size: 14px;
                padding: 8px 0;
                margin-bottom: 30px;
                border: 1px solid #fff;
                background:#fff url('../images/boss_posi/f_icons-sign.png') no-repeat 8px 12px;
                padding-left: 33px;
                .f_select{
                    em{
                        display: inline-block;
                        padding-right: 20px;
                        background: url('../images/boss_posi/f_icons.png') no-repeat right -222px;
                        cursor: pointer;
                    }
                    em.f_emaction{
                        background-position: right -182px;
                    }
                    ul{
                        position: absolute;
                        background:#fff;
                        left: 0;
                        top:40px;
                        width: 176px;
                        z-index: 3;
                        display: none;
                        li{
                            line-height: 42px;
                            padding: 0 15px;
                            cursor: pointer;
                           
                           span{
                            float: right;
                           }
                                
                        }
                    }
                    [type='tel']{
                        width: 95px;
                        padding: 0 14px;
                        border-color: #e3e7ed;
                        vertical-align: middle;
                    }
                }
                
            }
            .f_phoneAction{
                background-position: 8px -174px;
                box-shadow: 1px 2px 3px #d7f4f1;
                border-color: #00c2b3;
            }
            /* 滑块 */
            .f_validation{
                text-align: center;
                width: 100%;
                line-height: 42px;
                min-height: 42px;
                position: relative;
                font-size: 12px;
                user-select: none;
                margin-bottom: 30px;
                background: -webkit-gradient(linear,left top,right top,color-stop(0,#eef0f5),color-stop(.4,#eef0f5),color-stop(.5,#fff),color-stop(.6,#eef0f5),color-stop(1,#eef0f5));
                background-color: #eef0f5;
                color: #61687c;
                -webkit-animation: "slidetounlock" 3s infinite;
                span.f_slider{
                    background:url("../images/boss_posi/f_icons.png") no-repeat 22px -72px,url("../images/boss_posi/f_icons.png") no-repeat 17px -72px;
                    display: inline-block;
                    background-color: #fff;
                    width: 46px;
                    height: 40px;
                    position: absolute;
                    top:1px;
                    left: 0;
                    cursor:move;
                    color: #00c2b3;
                }
            }
            @keyframes slidetounlock {
                0% {
                    background-position: -200px 0;
                }
                
                
                100% {
                    background-position: 200px 0;
                }
            }
           
            .f_validationAction{
                background:#fff url("../images/boss_posi/witing.gif") no-repeat 80px 1px;
                background-size: 45px;
                
            }
            .f_sms{
                position: relative;
                line-height: 26px;
                color: #414a60;
                font-size: 14px;
                padding: 8px 0;
                margin-bottom: 30px;
                border: 1px solid #fff;
                background:#fff url('../images/boss_posi/f_icons-sign.png') no-repeat 8px -130px;
                padding-left: 33px;
                input{
                    width:85px;
                    border-right: 1px solid #ccc;
                }
                span{
                    width:92px;
                    color: #5dd5c8;
                    font-size: 14px;
                }
            }
            .f_smsAction{
                background-position: 8px -315px;
            }
            .f_btn{
                
                background-color: #fff;
                color: #00c2b3;
                width: 100%;
                font-size: 16px;
                height: 42px;
                line-height: 42px;
                border: none;
                cursor: pointer;
                text-align: center;
            }
            .f_agreement{
                padding: 10px 0 20px;
                font-size: 12px;
                color: rgba(255,255,255,.7);
                text-align: center;
                position: relative;
                input{
                    position: absolute;
                    left: 8px;
                    margin-top: 8px;
                }
            }
        }
    }
   
    /* E f_login */ 
    /* S f_resume */ 
    .f_resume{
        margin: 20px 0;
        padding: 20px;
        background-color: #fff;
        a{
            display: block;
            height: 40px;
            line-height: 40px;
            border: none;
            font-size: 14px;
            border-radius: 2px;
            letter-spacing: 0;
            background: #5dd5c8;
            text-align: center;
            cursor: pointer;
            color: #fff;
        }
    }
    /* E f_resume */ 

    /* S f_read */ 
    .f_read{
        background: #fff;
        margin-bottom: 15px;
        h3{
            height: 45px;
            line-height: 45px;
            font-size: 15px;
            color: #54cbc4;
            padding-left: 25px;
            font-weight: 400;
            border-bottom: solid 2px #f2f2f5;
        }
        ul{
            li{
                margin: 0 25px;
                border-bottom: solid 1px #eef0f5;
                padding: 8px 0 2px 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                h4{
                    font-weight: 400;
                    padding-right: 90px;
                    position: relative;
                    font-size: 14px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    span{
                        position: absolute;
                        color: #fc6c38;
                        right: 0;
                    }
                }
                p{
                    line-height: 22px;
                    color: #8d92a1;
                    font-size: 12px;
                    margin-bottom: 6px;
                }
                h4:hover{
                    color: #54cbc4;
                }
            }
        }
    }
    /* E f_read */ 
    
    /* S f_review */ 
    .f_review{
        position: relative;
        background-color: #fff;
        min-height: 224px;
        padding: 20px;
        margin-bottom: 10px;
            h3{
                padding: 0;
                margin: 0;
                text-align: left;
                color: #414a60;
                font-size: 14px;
                font-weight: 400;
                float: left;
            }
            h3:hover{
                color: #00c2b3;
            }
            p{
                text-align: center;
                font-size: 12px;
                color: #9fa3af;
                line-height: 17px;
                padding-top: 23px;
                padding-bottom: 8px;
            }
            a{
                width: 148px;
                height: 34px;
                line-height: 34px;
                font-size: 14px;
                display: block;
                margin: 0 auto;
                min-width: 112px;
                box-sizing: content-box;
                border: 1px #5dd5c8 solid;
                color: #fff;
                letter-spacing: 1px;
                background: #5dd5c8;
                text-align: center;
                cursor: pointer;
            }
            img{
                width: 100%;
                margin-top: 44px;
            }
        }
        /* E f_review */ 

        /* S f_banner */ 
        .f_banner{
            width: 250px;
            a{
                display: block;
                width: 100%;
                margin-bottom: 20px;
                img{
                    width: 250px;
                }
            }    
        }
        /* E f_banner */ 
    }

/* E f_main_right  */
/* E f_main */

/* S f_feedback */ 
    .f_feedback{
        width: 726px;
        height: 110px;
        padding: 20px 0 0 30px;
        box-sizing: border-box;
        margin: 20px 0;
        background-color: #fff;
        line-height: 26px;
        color: #414a60;
        font-size: 14px;
        h4{
            line-height: 15px;
            color: #414a60;
            font-size: 15px;
            font-weight: bold;
        }
        div{
            display: inline-block;
            width: 40px;
            margin: 17px 40px auto 0;
            padding-top: 40px;
            color: #a8aab7;
            font-size: 13px;
            text-align: center;
            cursor: pointer;
            background-color: #fff;
            background-repeat: no-repeat;
        }
        .f_flevel_1{
            background-image: url('../images/boss_posi/smile-face.png');
            background-position: 1px 8px; 

        }
        .f_flevel_2{
            background-image: url('../images/boss_posi/smile-face.png');
            background-position: -90px 8px; 

        }
        .f_flevel_3{
            background-image: url('../images/boss_posi/smile-face.png');
            background-position: -190px 8px; 

        }
        .f_select{
            color: #00c2b3;
            // background-position: -47px 8px;  
           
        }
        .f_opinion{
            display: inline-block;
            width: 282px;
            height: 40px;
            margin: 13px 30px 0 -5px;
            padding: 10px;
            color: #414a60;
            resize: none;
            border: #00c2b3 1px solid;
        }
        .f_btn{
            border-color: #d1d4db;
            background-color: #00c2b3;
            display: inline-block;
            width: 90px;
            min-width: auto;
            height: 34px;
            position: relative;
            top:-30px;
            color: #fff;
        }
        .f_ban{
            background-color: #d1d4db;
        }

    }

    

/* E f_feedback */ 






















